<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.belean.mall.tiny.mbg.mapper.UmsRolePermissionRelationMapper">

    <resultMap id="BaseResultMap" type="com.belean.mall.tiny.mbg.model.UmsRolePermissionRelation">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="permissionId" column="permission_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`role_id`,`permission_id`
    </sql>
</mapper>
