<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.belean.mall.tiny.mbg.mapper.UmsResourceMapper">

    <resultMap id="BaseResultMap" type="com.belean.mall.tiny.mbg.model.UmsResource">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`create_time`,`name`,
        `url`,`description`,`category_id`
    </sql>
</mapper>
